$interactive-Orange: hsl(25, 97%, 53%);
$interactive-White: hsl(0, 0%, 100%);
$interactive-Light: hsl(217, 12%, 63%);
$interactive-Medium: hsl(216, 12%, 54%);
$interactive-Dark: hsl(213, 19%, 18%);
$interactive-Very: hsl(216, 12%, 8%);
