$interactive-orange: hsl(25, 97%, 53%);
$interactive-white: hsl(0, 0%, 100%);
$interactive-light: hsl(217, 12%, 63%);
$interactive-medium: hsl(216, 12%, 54%);
$interactive-dark: hsl(213, 19%, 18%);
$interactive-very: hsl(216, 12%, 8%);
